body{
    font-family: Arial, sans-serif;
    color: #222;
    padding: 0;
    margin: 0;
}

.clearfix{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

div{
    box-sizing: border-box;
}

header{
    background: #f0efe7;

}

#header{
    padding-bottom: 50px;
}

.logo{
    float: left;
    margin-top: 20px;
}

nav{
    float: right;
    margin-top: 52px;
}

.menu{
    padding: 0;
    margin: 0;
    display: block;
}

.menu li{
    float: left;
    display: block;
    margin-right: 41px;
}

.menu a{
    color: #413932;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.menu a:hover{
    color: #f64d27;
    transition: 0.6s;
}

.text_titles {
    float: left;
    width: 750px;
    color: #413932;
    font-size: 20px;
    padding: 20px 0 0 20px;
    font-weight: 500;
}

.text_titles span{
    padding-left: 20px;
    color: #f64d27;
    font-weight: bold;
}

.gitilustration{
    float: right;
    width: 580px;
    height: 280px;
}

#downloads{
    padding: 70px 0;

}

.the_title{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;

}

.the_title h2{
    font-size: 30px;
    color: #f64d27;
    font-weight: bold;
    margin: 0;
}

.downloading_content p{
    float: left;
    color: #413932;
    font-size: 20px;
    font-weight: 500;
    padding-left: 115px;

}

.downloading_content a{
    float: right;
    color: #00909a;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 350px;
    padding-top: 15px;
}

.downloading_content a:hover{
    color: #ff0000;
    transition: 0.5s;
}

.paragraf{
    padding-top: 10px;
}

.downloading_content span{
    color: #00909a;
    text-transform: uppercase;
}

.downloading_content ul{
    float: right;
}

.downloading_content li{
    list-style: none;
    font-size: 20px;
    color: #00909a;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 276px;
    padding-bottom: 5px;
}

.downloading_content li:before{
    content: "$";
}

#settings{
    padding: 70px 0;
    background: #f0efe7;
}

.setting_content p{
    float: left;
    color: #413932;
    font-size: 20px;
    font-weight: 500;
    width: 565px;
    padding-left: 115px;
}

.setting_content ul{
    float: right;
    padding-top: 20px;
}

.setting_content li{
    list-style: none;
    font-size: 20px;
    color: #00909a;
    text-transform: uppercase;
    font-weight: bold;

}

.setting_content li:before {
    content: "$";
}

.setting_content span{
    color: #00909a;
    text-transform: uppercase;
}

#commands{
    padding: 70px 0;
}

table {
    font-size: 18px;
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:90%;
    margin: 0 auto;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

}

th, td {
    padding:18px 28px 18px;
    text-align:center;
}

th {
    padding-top:22px;
    text-shadow: 1px 1px 1px #fff;
    background:#f0efe7;
    font-size: 22px;
}

td {
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

.col1 {
    color: #00909a;
    font-weight: bold;
}

#working{
    padding: 70px 0;
    background: #f0efe7;
}

.work_content ol{
    float: left;
    padding-top: 60px;
    padding-left: 80px;
}

.work_content li{
    list-style: none;
    font-size: 20px;
    color: #00909a;
    text-transform: uppercase;
    font-weight: bold;

}

.work_content span{
    color: #413932;
    text-transform: none;
    font-weight: normal;
}

.work_content img{
    float: right;
}

#footer{
    padding: 5px 0;
    background: #C0C0C0;
}

.footer_text{
    font-size: 20px;
    color: #00909a;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

.fab{
    text-align: center;
    color: #f54d27;
    padding: 10px 0;
    background-color: #413932;
    width: 45px;
    font-size: 25px;
    transition: 0.8s;
    border-radius: 50px;
}

.fab:hover{
    color: #413932;
    background-color: #f54d27;
}

.icons{
    margin: 0 auto;
    width: 205px;
    padding-bottom: 25px;
}

.foot_text{
    color: #7d8082;
    text-transform: none;
}